<lx-tabs >
    <lx-tab heading="{{user.name}} Posts">
        <div class="card top-space"  ng-repeat="post in posts">
            <div flex-container="row">
              <div class="card__img card__img--left" style="height: 350px;">
                  <img src="imgs/post.jpg"/>
              </div>

              <div flex-item flex-container="column">
                <div flex-item class="p+">
                  <strong class="fs-headline tc-teal-800 display-block">  {{post.title}}</strong>
                  <span class="fs-subhead tc-blank-2 display-block">  {{post.body}}</span>
                </div>
                <div class="card__actions">
                    <a href="post/{{post.id}}" class="btn btn--m btn--green btn--flat" lx-ripple>Read More</a>
                    <a href="post/edit/{{post.id}}" class="btn btn--m btn--orange btn--flat" lx-ripple>Update </a>
                    <a ng-click="remove(post)" class="btn btn--m btn--red btn--flat" lx-ripple>Delete</a>
                </div>
              </div>
            </div>
        </div>
      </lx-tab>
</lx-tabs>
