

<div class="p+">
    <div class="card">
        <div class="card__img card__img--top">
              <img src="imgs/post.jpg"/>

        </div>

        <div class="p+">
            <span class="fs-subhead tc-black-2 display-block"> <strong>{{post.title}}</strong> </span>

            <div class="paragraph fs-body-1">
                <p>
                    {{post.body}}
                </p>
            </div>
        </div>

        <div class="card__actions">
          <button type="button" ng-click="back()"  class="btn btn--orange btn--l btn--raised"> Back </button>
        </div>
    </div>
</div>
<div flex-item="6" class="mt++">
        <span class="fs-title display-block mb">Comments</span>

        <div class="divider divider--dark"></div>

        <ul class="list mt++">
            <li class="list-row list-row--multi-line list-row--has-separator" ng-repeat="comment in comments">
                <div class="list-row__primary">
                    <img src="imgs/comment.jpg" width="40" height="40" class="img-round">
                </div>

                <div class="list-row__content">
                    <span class="display-block">{{comment.name}}</span>
                    <span class="display-block fs-body-1 tc-black-2">{{comment.body}}</span>
                    <span class="display-block">{{comment.email}}</span>
                </div>

                <div class="list-row__secondary">
                    <lx-icon lx-id="information" lx-size="xs" lx-color="grey" lx-type="flat"></lx-icon>
                </div>
            </li>
        </ul>
    </div>
